.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  height: 100vh;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 64px;
  margin-bottom: 16px;
}

.para {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 24px;
}

.button {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  border-radius: 12px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
